$main-color: #0088CC;

$white: #FFFFFF;

$light-grey: #F7F7F7;

$a-grey: #BFBFBF;

$b-grey: #777777;

$nav-text: #404040;

$opacity-hover-bgc: #212529CC;

$opacity-bgc: #17171740;

$btn-bgc: #212529;

$footer-bot-bgc: #1C2023;




